*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: "Helevetice Neue",Helevetice,Arial,sans-serif;
    font-size: 1rem;
}
.clearfix:after{
    display: block;
    content: "";
    clear: both;
}

.hidden{
    display: none;
}